flask
sqlalchemy
psycopg2-binary
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
flask-smorest
marshmallow
pytest
pytest-cov
pytest-flask
PyJWT
cryptography
Authlib
requests
Flask-CORS
schemathesis
playwright==1.60.0
pytest-playwright
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-logging
prometheus_client
